/*Para estilo de la pagina*/
body {
  padding-left: 1.5em;
  font-family: Arial, "Times New Roman",
        Times, serif;
  background-color: #D3D5D5}
  
/*Para estilo del menu*/  
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10em;
  left: 1em;
  width: 9em }
  
ul.navbar li {
  background: #D3D5D5;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 0.5em solid #909090;
  border-top: 0.1em solid #909090;
  border-bottom: 0.2em solid #909090}
ul.navbar a {
  text-decoration: underline }
a:link {
  color: gray }
a:visited {
  color: black }

/*Estilo al fieldset*/
fieldset{
margin-left: 8em;
background:#BEBEBE}

/*Estilo tabla*/
table{
margin-left: 10em}
	
/*Estilo del campo direccion*/  
input.address {width: 400px;
}

/*Estilo formulario*/
form {
  margin: 0 auto;
  padding: 1em;
  border: 0 solid #CCC;
  border-radius: 1em;
  background-color: #D3D5D5;
  color: black;
}

/*Me indica caracteristicas de los campos de ingreso de datos*/
input.info{
  width: 200px;	
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray; 
}
p.dashed {border-style: dashed;}






